
<div class="container">
	<div class="row">
		<div class="col-sm-12 texet-center">
			<h1>bootstrap selectpicker</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Simple</div>
				<div class="panel-body">
					{{#select-picker
						enable=false
						}}
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Tent</option>
						<option>Flashlight</option>
						<option>Toilet Paper</option>
					{{/select-picker}}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Simple</div>
				<div class="panel-body">
					{{#select-picker
						enable=false
						className="form-control"
						}}
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Tent</option>
						<option>Flashlight</option>
						<option>Toilet Paper</option>
					{{/select-picker}}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Simple</div>
				<div class="panel-body">
					{{#select-picker }}
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Tent</option>
						<option>Flashlight</option>
						<option>Toilet Paper</option>
					{{/select-picker}}
				</div>
			</div>
			


		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Select boxes with optgroups</div>
				<div class="panel-body">
					{{#select-picker}}
						<optgroup label="Picnic">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</optgroup>
						<optgroup label="Camping">
							<option>Tent</option>
							<option>Flashlight</option>
							<option>Toilet Paper</option>
						</optgroup>
					{{/select-picker}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Live Search</div>
				<div class="panel-body">
					{{#select-picker
						search=true
						}}
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Tent</option>
						<option>Flashlight</option>
						<option>Toilet Paper</option>
					{{/select-picker}}
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Multiple select boxes</div>
				<div class="panel-body">
					{{#select-picker
						multiple=true
						}}
						<optgroup label="Picnic">
							<option>Mustard</option>
							<option>Ketchup</option>
							<option>Relish</option>
						</optgroup>
						<optgroup label="Camping">
							<option>Tent</option>
							<option>Flashlight</option>
							<option>Toilet Paper</option>
						</optgroup>
					{{/select-picker}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Limit the number of selections</div>
				<div class="panel-body">
					{{#select-picker
						multiple=true
						maxOptions=2
						}}
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Tent</option>
						<option>Flashlight</option>
						<option>Toilet Paper</option>
					{{/select-picker}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Limit the number of selections</div>
				<div class="panel-body">
					{{#select-picker
						multiple=true
						maxOptions=2
						title="Choose one of the following..."
						}}
						<option>Mustard</option>
						<option>Ketchup</option>
						<option>Relish</option>
						<option>Tent</option>
						<option>Flashlight</option>
						<option>Toilet Paper</option>
					{{/select-picker}}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row"><div class="col-md-12"><hr></div></div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Dynamic Value</div>
				<div class="panel-body">
					{{select-picker
						data=data
						}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Dynamic Value</div>
				<div class="panel-body">
					{{select-picker
						multiple=true
						search=true
						data=data
						}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Dynamic Add Data</div>
				<div class="panel-body">
					{{select-picker
						data=dataDynamic
						value="Tent"
						title="Choose one of the following..."
						}}
					<div class="clearfix"></div>
					<button {{action 'onInitialData' }} class="btn btn-primary">Import</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Dynamic Select</div>
				<div class="panel-body">
					{{select-picker
						showTick=true
						data=data
						maxOptions=2
						maxOptionsText="Too musch selection"
						value=itemValue
						}}
					<div class="clearfix"></div>
					<button class="btn btn-primary" {{action "onItemValue" "Mustard" }}>Mustard</button>
					<button class="btn btn-primary" {{action "onItemValue" "Ketchup" }}>Ketchup</button>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

{{outlet}}